html {
    height:100%;
}
body {
    height:100%;
    background-image:url(convert/images/converBG.jpg);
    background-color: #fff3dd;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center; 
}

#input::before {
    content:"Input";
}
#inputArea {
    width:500px;
    height:200px;
}
#output::before {
    content:"Output";
}
#outputArea {
    width:500px;
    height:200px;
}
#convert {
}
