html {
    height:100%;
    overflow: hidden; /* Annoying Scroll */
}
body {
    height:100%;
    
    background-image:url(convert/images/converBG.jpg);
    background-color: #fff3dd;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:right bottom; 
}

#title {
    width:658px;
    height:100px;
    border:0;
    position: relative;
    
    background-image: url(convert/images/SakuyaButton.png);
    background-color: transparent;
    background-repeat:no-repeat;
}
#input {
    height:100px;
    width:1000px;
    border:0;
    margin-left:5%;
    
    background-image:url(convert/images/MarisaLabel.png);
    background-color: transparent;
    background-repeat:no-repeat;
}
#inputArea {
    width:800px;
    height:200px;
    margin-left:10%;
    
    background-color: transparent;
}
#output {
    height:100px;
    width:1000px;
    border:0;
    margin-left:5%;
    
    background-image:url(convert/images/AliceLabel.png);
    background-color: transparent;
    background-repeat:no-repeat;
}
#outputArea {
    width:800px;
    height:200px;
    margin-left:10%;
    
    background-color: transparent;
}
#comment {
    width:213px;
    height:320px;
    border:0;
    margin-left:10%;
    margin-top:25%;
    position: relative;
    
    background-image: url(convert/images/FlandreButton.png);
    background-color: transparent;
    background-repeat:no-repeat;
}
#symbols {
    width:213px;
    height:320px;
    border:0;
    margin-left:15%;
    margin-top:25%;
    position: relative;
    
    background-image: url(convert/images/NitoriButton.png);
    background-color: transparent;
    background-repeat:no-repeat;
}
#convert {
    width:246px;
    height:220px;
    border:0;
    margin-left:25%;
    margin-top:15%;
    position: relative;
    
    background-image: url(convert/images/PatchouliButton.png);
    background-color: transparent;
    background-repeat:no-repeat;
}
