html {
    height:100%;
}
body {
    height:100%;
    background-image:#fff3dd url("convert/images/converBG.jpg") no-repeat center;
}

#input::before {
    content:"Input";
}
#inputArea {
    width:500px;
    height:200px;
}
#output::before {
    content:"Output";
}
#outputArea {
    width:500px;
    height:200px;
}
#convert {
}
